In [1]:
import sqlite3

In [2]:
# Ini buat connect ke database
connection= sqlite3.connect('example.db')
connection

In [3]:
# Creating a cursor object
cursor= connection.cursor()

In [5]:
## Create a table
cursor.execute(
    '''Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department text
    )
    '''
)

connection.commit()

In [7]:
cursor.execute('''
               Select * from employees
               
               '''
)

In [9]:
## Inserting data!
cursor.execute('''
               Insert into employees(name,age,department)
               values('Geraldo', 22, 'ML Engineer')
               
               ''')


cursor.execute('''
               Insert into employees(name,age,department)
               values('Cynthia', 22, 'Product Dev')
               
               ''')
connection.commit()

In [12]:
## How to query
cursor.execute('Select * from employees')
rows= cursor.fetchall()

for row in rows:
    print(row)

(1, 'Geraldo', 22, 'ML Engineer')
(2, 'Geraldo', 22, 'ML Engineer')
(3, 'Cynthia', 22, 'Product Dev')

In [14]:
## Gimana update data di table?
cursor.execute('''
               UPDATE employees
               set department= 'AI Engineer'
               where name= 'Geraldo'
               ''')

connection.commit()

In [15]:
### DELETE DATA

cursor.execute('''
               DELETE FROM employees
               WHERE name= 'Cynthia'
               
               
               ''')
connection.commit()

In [16]:
## How to query
cursor.execute('Select * from employees')
rows= cursor.fetchall()

for row in rows:
    print(row)

(1, 'Geraldo', 22, 'AI Engineer')
(2, 'Geraldo', 22, 'AI Engineer')

In [17]:
## DONT FORGET TO CLOSE THE CONNECTION!
connection.close()

# Working with Sales Data

In [18]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [20]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')